 body {
      background-color: #4343ef; /* Fondo azul */
      color: #fff; /* Color de texto blanco */
      font-size: 16px; /* Tamaño de fuente */
    }
    #status {
      border: 5px solid #000; /* Borde de 5 píxeles */
      padding: 20px;
      background-color: #fff; /* Fondo blanco */
      color: #000; /* Color de texto
        font-size: 16px; /* Tamaño de fuente */ */
    }
    .fb-login-button {
      padding: 10px;
      border-radius: 5px;
      background-color: #4267B2; /* Color de fondo de Facebook */
      color: #fff; /* Color de texto blanco */
    }
    .fb-login-button:hover {
      background-color: #365899; /* Color de fondo al pasar el mouse */
    }
        color: #fff; /* Color de texto al pasar el mouse */
        }   
p {
  margin: 1rem;
    line-height: 1.3em;
}